@use "sass:color";

$font-family-montserrat: "Montserrat";
$background-blue: #dae9fc;
$background-white: white;
$background-footer: #040492;
$font-color: rgb(14, 54, 116);
$font-color-white: white;
$title-poster: #fe320f;
$theme-colors: (
  "primary": #bada55,
);
